Uuid string format 

### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request and I know that duplicates will be closed

### Is your feature request related to a problem?

Every id field reference in the schema is a uuid but it's not an option in the form editor. 

### Describe the solution you'd like

Please add uuid as a format option 

### Describe alternatives you've considered

Support regex pattern 

### Additional context

String Formats
An optional format modifier serves as a hint at the contents and format of the string. OpenAPI defines the following built-in string formats:
date – full-date notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21
date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z
password – a hint to UIs to mask the input
byte – base64-encoded characters, for example, U3dhZ2dlciByb2Nrcw==
binary – binary data, used to describe files (see [Files](https://swagger.io/docs/specification/data-models/data-types/#file) below)
However, format is an open value, so you can use any formats, even not those defined by the OpenAPI Specification, such as:
email
uuid
uri
hostname
ipv4
ipv6
and others

thanks @jhordies , we will get is supported in our upcoming deployment soon.

hi @jhordies , we have deployed a new version, that has "uuid" supported

Hi, thanks, it is much appreciated. I tested it and it works, you may close the issue